<div class="form-inputs">
  <%= simple_form_for user do |f| %>
  <%= f.input :username %>
  <%= f.input :address %>
  <%= f.input :password %>
  <%= f.file_field :profile_picture %>
  <%= f.submit value: "Update your profile" %>
<% end %>
</div>