<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div style="width: 20%; height: 30%; margin: 10px; background-color: grey; float:left;">
<br>
<p>Filter Video Games By Category</p>
  <%  @categories.each do |cat| %>
    <%= cat.name %> <input type="checkbox" class='category-checkbox' data-category='<%=cat.name.split.join("-") %>' id='<%= cat.id %>'>
    <br>
  <% end %>
  <br>
</div>
<div style="width: 50%; height: 50%; margin: 10px; background-color: grey; float:left;">
<br>
    <p id="text" style="display:none">Checkbox is CHECKED!</p>
      <div>
           <% @items.each do |item| %>
             <div class='category-<%=item.category.name.split.join("-") %> item'>
              <a href="#" style="color:black"><h5 class="card-title"><%= item.title %></h5></a>
              <p class="card-text"><%= item.description %></p>
            </div>
          <% end %>
      </div>

</div>
