<div id="<%=reservation.id %>" class="card" style="width: 50%;">
  <div class="card-body">
    <h5 class="card-title"><%= reservation.item.title %></h5>
    <% if reservation.user == current_user%>
      <%= link_to reservation.item.user.username, user_path(reservation.item.user)%>
    <% else %>
      <%= link_to reservation.user.username, user_path(reservation.user)%>
    <%end%>

    <p id="status-<%= reservation.id %>"><%= reservation.status %></p>
    <% if reservation.status == "Pending" && reservation.user != current_user %>
      <%= link_to "Accept", update_reservation_path(reservation, status: "accept"), method: :patch, remote: true, class: "btn btn-secondary", id: "accepted-#{reservation.id}" %>
      <%= link_to "Reject", update_reservation_path(reservation, status: "reject"), method: :patch, remote: true, class: "btn btn-secondary", id: "rejected-#{reservation.id}" %>
    <% end%>
  </div>
</div>