<div class="form-inputs">
  <%= simple_form_for item , url: edit_item_path(item) do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.association :category %>
  <%= f.file_field :image %>
  <%= f.submit value: "List your item" %>
<% end %>
</div>
