<div class="card" style="width: 50%;">
  <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
  <div class="card-user-avatar">
    <img class="avatar dropdown-toggle" src="https://kitt.lewagon.com/placeholder/users/ssaunier" alt="Avatar" />
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= item.title %></h5>
    <p class="card-text"><%= item.description %></p>
  </div>
  <% if item.user == current_user %>
  <div class="card-btn">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal-<%= item.id %>">
      <span>Edit</span>
    </button>
    <button><%= link_to %></button>
    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal-<%= item.id %>">
      <span>Delete</span>
    </button>
    <button type="button" class="btn btn-troisery" data-toggle="modal" data-target="#exampleModal-<%= item.id %>">
      <span>Show</span>
    </button>
  </div>
  <% else %>
  <div class="card-btn">
    <button type="button" class="btn btn-quatrery" data-toggle="modal" data-target="#exampleModal-<%= item.id %>">
      <span>Book this item</span>
    </button>
    <button type="button" class="btn btn-cinquery" data-toggle="modal" data-target="#exampleModal-<%= item.id %>">
      <span>About <%= item.user.username %></span>
    </button>
    <button type="button" class="btn btn-sixery" data-toggle="modal" data-target="#exampleModal-<%= item.id %>">
      <span>Availability</span>
    </button>
  </div>
  <% end %>
</div>
