<div class="card category-<%=item.category.name.split.join(" -") %> item"="-") %> item"" style="width: 50%;">
  <% if item.image.attached? %>
    <a href="#"><%= image_tag url_for(item.image), class:"card-img-top" %></a>
  <% else %>
    <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
  <% end%>
  <div class="card-user-avatar">
    <img class="avatar dropdown-toggle" src="https://kitt.lewagon.com/placeholder/users/ssaunier" alt="Avatar"/>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= item.title %></h5>
    <p class="card-text"><%= item.description %></p>
  </div>
  <% if item.user == current_user %>
    <div class="card-btn">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal-<%= item.id %>">
        <span>Edit</span>
      </button>
      <button><%= link_to "Delete", delete_item_path(item), method: :delete, class: "btn btn-secondary" %></button>
    </div>
  <% else %>
    <div class="card-btn">
      <%= link_to "Borrow a thing", new_reservation_path(item), method: :post, class: "btn btn-quatrery" %>
      <%= link_to "More thing", user_path(item.user), class: "btn btn-cinquery" %>
    </div>
  <% end %>
</div>