<div class="card category-<%=item.category.name.split.join('-')%> item" style="width: 100%;">
  <% if item.image.attached? %>
    <a href="#"><%= image_tag url_for(item.image), class:"card-img-top" %></a>
  <% else %>
    <img class="card-img-top" src="http://placehold.it/700x400" alt="">
  <% end%>
  <div class="card-user-avatar">
    <% if item.user.profile_picture.attached? %>
      <%= image_tag url_for(item.user.profile_picture), class:"card-img-top" %>
    <% else %>
      <img class="avatar dropdown-toggle" src="https://kitt.lewagon.com/placeholder/users/ssaunier" alt="Avatar"/>
    <% end%>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= item.title %></h5>
    <h6 class="categories-card"><%= item.category.name %></h6>
    <p class="card-text"><%= item.description %></p>
  </div>
  <% if item.user == current_user %>
    <div class="card-btn">
      <h3 type="button" class="btn btn-primaryy" data-toggle="modal" data-target="#exampleModal-<%= item.id %>">
        <span>Edit</span>
      </h3>
      <%= link_to "Delete", delete_item_path(item), method: :delete, class: "btn btn-secondary" %>
    </div>
  <% else %>
    <div class="card-btn">
      <%= link_to "Borrow a thing", new_reservation_path(item), method: :post, class: "btn btn-quatrery" %>
      <%= link_to "About #{item.user.username}", user_path(item.user), class: "btn btn-cinquery" %>
    </div>
  <% end %>
</div>
